body {
  margin:0px;
  padding:0px;
}

#banner{
  position:absolute;
  display: block;
  width: 980px;
  height: 90px;
  background-color: #000;
}

#expandBtn{
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  width: 980px;
  height: 90px;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}